/*GENERAL STYLES*/

body {
    margin-top: 52px;
    width: 100vw;
    height: 100vh;
}

/*footer info*/
footer {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

footer p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#logo {
    padding: 2px;
    height: 45px;
    width: 55px;
}


/*APP STYLES*/

#app-main {
    /*  border: 1px solid red;*/
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


/*LANDING PAGE STYLES*/
#landing-main {
    color: white;
    background-image: url(http://4.bp.blogspot.com/-diw0x3XcHGs/UyMGmg4ucvI/AAAAAAAAD2M/YqF_KaqQnj8/s1600/DSC_6690.JPG);
    background-size: cover;
    background-attachment: fixed;
    border: .1px solid black;
    height: 100vh;
    width: 100vw;
}

#landing-h1 {
    padding-left: 70px;
    padding-top: 100px;
}

#landing-h2 {
    text-align: right;
    padding-top: 180px;
    padding-right: 110px;
}


/*TEA PAGE STYLES*/

#about-page {
    background-image: url(./img/photo-1437315306147-0923bdb3fc12a.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    /*  border: 1px solid blue;*/
    padding-left: 300px;
    padding-right: 300px;
    text-align: left;
}


/*about.js text styling*/
#blackbox {
    font-size: 15px;
    background-color: #1a1a1a;
    width: auto;
    height: auto;
    padding: 30px;
    opacity: 0.7;
}

#blackbox p{
  text-indent: 20px;
}

#blackbox h1{
  text-align: center;
}

.App {
    text-align: center;
}

/*navbar styling*/

.navbar-brand {
    font-size: 35px;
    font-weight: 2em;
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #439348;
    border-bottom: 1px solid #439348;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand > span:hover,
.navbar-default .navbar-brand > span:focus,
.navbar-default .navbar-brand > .active > span,
.navbar-default .navbar-brand > .active > span:hover,
.navbar-default .navbar-brand > .active > span:focus {
    color: white;
    transition-delay: 2s;
}

.navbar-right li {
    width: 150px;
    text-align: center;
}

.navbar {
    font-family: helvetica;
    font-size: 20px;
    background-color:
    /*#DBB287*/
    
    black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
}

/*Tea.js page*/
#black{
  background-image: url("https://hd.unsplash.com/photo-1433891248364-3ce993ff0e92");
 background-size: cover;
  background-repeat: no-repeat;
  
}
#green{
  background-image: url("http://i68.tinypic.com/1549e74.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  

}
#herbal{
  background-image: url(./img/herbalteacup2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  

}

#tea-grid {
  margin-top: 50px;
}

.teaCol {
  height: 100vh;
}
